@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,400;0,500;0,700;1,100&display=swap');
:root{
    --main-color:rgb(183, 196, 207);
    --secondary-color: rgb(238, 227, 203);
    --tertiary-color:rgb(215, 192, 174);
    --quaternary-color: rgb(150, 126, 118)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    
}
body{
    min-height: 100vh;
}

.header{
    width: 100%; 
    height: 350px;
}
.main-header{
    color: var(--quaternary-color);
    font-weight: 100;
    text-align: center;
    margin-top: 100px;
}

ul {
    list-style-type: none;
}
li{
    background-color: var(--secondary-color) !important;
    border-radius: 25px;
    margin: 5px;
    padding: 5px;
}

a {
    text-decoration: none;
    color: var(--quaternary-color) !important;
}
body{
    background-color: var(--main-color);
}
.navbar{
    background-color: var(--main-color) !important;
}
footer{
    background-color: var(--quaternary-color);
    
}
.sticky-footer{
    position:sticky;
    top:100%;
    
}

p{
    margin-bottom:0;
}

.container-nosotros, .container_nuevos_ebooks, .container-recetas-nuevas {
   padding:10px 70px 10px 50px;
   
}
.card{
    background-color: var(--secondary-color) !important;
    color: var(--quaternary-color);
}
.titulo-principal{
    color: var(--quaternary-color);
    font-weight: 100;
    text-align: center;
    padding: 10px;
}
.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 20px;
    padding: 20px 50px 20px 50px;
       
}

.producto-imagen {
    max-width: 100%;
    border-radius: 1rem;
    
}
.main-ebooks{
    margin: 1rem;
}
.producto-titulo{
    font-size: 16px;
}
.producto-detalles {
    background-color: var(--quaternary-color);
    padding:10px;
    border-radius: 10px;
    margin-top: -30px;
    position: relative;
    display:flex;
    flex-direction: column;
    gap: 5px;
}
.producto-agregar {
    border: 0;
    background-color: var(--secondary-color);
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
  
    
}

.producto-agregar:hover {
    background-color: var(--tertiary-color);
    color: white;
}
.numero{
    background-color: var(--tertiary-color);
    color: black;
    padding: 5px;
    border-radius: 15px;
}
.contenedor-carrito{
    display: flex;
    flex-direction:column;
    gap: 10px;

}

.carrito-vacio {
    color: var(--quaternary-color);
    padding:20px;
    margin:10px;

}

.carrito-productos{
    display:flex;
    flex-direction: column;
    gap: 10px;
}

.carrito-producto{
    display:flex;
    justify-content: space-between;
    background-color: var(--quaternary-color);
    padding: 10px 60px 10px 10px;
    margin: 10px;
    border-radius: 20px;
    align-items: center;
}


.carrito-producto-imagen{
    width: 100px;
    border-radius: 10px;
    margin-left: 100px;
}

.carrito-producto-eliminar{
    border:0;
    background-color: var(--quaternary-color);
}

.carrito-acciones{
    display:flex;
    justify-content: space-between;
}
.carrito-acciones-derecha {
    display:flex;
}
.carrito-acciones-total{
    display: flex;
    background-color: var(--quaternary-color);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}
.carrito-acciones-vaciar {
    border: 0;
    background-color: var(--quaternary-color);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.carrito-acciones-comprar {
    border: 0;
    background-color: var(--quaternary-color);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.inactive{
    display:none;
}
.btn{
    border: 0 !important;
    background-color: var(--main-color)!important;
    padding: 5px, 15px, 5px, 15px!important;
    border-radius: 10px!important;
        
}
.btn:hover{
    background-color: var(--tertiary-color) !important;
    color: white !important;
}
#formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    padding:20px;
    border-radius: 15px;
    background-color: var(--quaternary-color);
    min-width:320px;
    max-width:400px;
  }

  input[type=text] {
    width: 300px;
    height: 50px;
    padding: 10px;
    border: 1px dashed var(--tertiary-color);
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 20px;
    resize: vertical;
    font-family: 'Raleway', sans-serif;
  }
  select {
    width: 300px;
    height: 50px;
    padding: 10px;
    border: 1px var(--tertiary-color);
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 20px;
    resize: vertical;
    font-family: 'Raleway', sans-serif;
  }
  button[type=submit] {
    border-radius: 10px;
    border: 1px solid var(--tertiary-color);
    font-size: 15px;
    background: var(--main-color);
    width: 100%;
    height: 40px;
  }
  button[type=submit]:hover {
    background-color: var(--tertiary-color) !important;
    color: black !important;
  }

  label{
    font-family: 'Raleway', sans-serif;
    color: var(--main-color);
  }
  .dropdown-menu{
    background-color: var(--secondary-color);
  }
  #dropdown:hover{
    background-color: var(--main-color) !important;
    border-radius: 5px !important;
  }
  #comment{
    resize: none;
    width: 100%;
    height: 150px;
    padding: 13px 19px;
    border-radius:10px;
    background-color: var(--tertiary-color);
  }
  .newsletter{
    padding: 20px;
  }
  #swal2-title{
    color: var(--tertiary-color) !important;
  }
  .swal2-confirm, .swal2-cancel{
    background-color: var(--secondary-color) !important;
    color: var(--quaternary-color) !important;
  }
  .swal2-question{
    border-color: var(--secondary-color) !important;
    color: var(--quaternary-color) !important;
  }
  .swal2-popup{
    border-radius: 20px !important;
  }
  #parrafo-sweetalert{
    color: var(--quaternary-color);
    padding:20px;
    margin:10px;
  }